body {
    margin: 0;
    padding: 0;
    background-image: url('abstract-timekeeper.png');
    background-size: 100px;
    background-position: center;
    height: 100%;
    text-align: center;
    
}

h1{
  text-align: center;
}

nav{
  display:flex;
  text-align: center;
  justify-content: center;
  
}

nav a{
  margin-left: 10px;
}


.space{
  margin-top: 50px;
}

