.app {
    text-align: center;
    margin-top: 30vh;
}
body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(46, 45, 45);
}
.question {
    font-size: 50px;
}
.answer {
    font-size: 30px;
    margin: 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
}
.answer:hover {
    background-color: antiquewhite;
    border-bottom: 3px solid antiquewhite;
}
#answer-area {
    margin: 20px;
    height: 60px;
}
.answer-area {
    margin: 40px;
    height: 60px;
    
}
.button-area {
    margin-top: 20px;
}
.button {
    height: 40px;
    width: 40px;
    margin: 2px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
.vibrate { /* yanlış cevapta titreşim */
    margin: 40px;
    animation: vibrate 0.2s linear 0.1s;
    opacity: 0.5;
}
  
@keyframes vibrate {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(-2px, -2px); }
    60% { transform: translate(2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0, 0); }
}

.end {
    font-size: 60px;
    color: black;
    

}
